/* tema 1 */
/*Colores*/
/*Keys */
/* Textos tema1 y 2*/
/* Fuente */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: "Spartan", sans-serif;
  background-color: #3a4764;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.ocultar {
  opacity: .1;
}

.mostrar {
  opacity: 1;
}

.contenedor__principal {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .contenedor__principal {
    width: 65%;
    height: 100vh;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .contenedor__principal {
    width: 52%;
    padding: 50px 60px 20px 60px;
    min-height: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

.calculadora__contenedor {
  min-width: 60%;
  width: 100%;
  max-width: 560px;
  height: calc(100vh - 30px);
  max-height: 700px;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .calculadora__contenedor {
    width: calc(100% - 30px);
    max-width: 560px;
    height: calc(100vh - 30px);
    max-height: 700px;
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .calculadora__contenedor {
    width: 550px;
    max-width: 560px;
    max-height: 600px;
    padding: 5px 10px;
    margin-bottom: auto;
  }
}

.calculadora__encabezado {
  width: 100%;
  height: calc(10vh);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calculadora__logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-top: 10px;
}

.calculadora__switch {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tema__text {
  font-size: 12px;
  text-align: left;
  margin-top: auto;
  margin-bottom: 5px;
  margin-right: 10px;
  color: white;
}

@media (min-width: 768px) {
  .tema__text {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.switch__grupos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch__iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
  background-color: #182034;
  border-radius: 10px;
}

.circulos__switch {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #d03f2f;
  box-shadow: 0 0 2px 0 #93261a;
  margin: 4px;
}

.switch__numeros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.switch__nums {
  margin: 0 8px;
  color: white;
}

.pantalla__contenedor {
  min-width: 100%;
  width: calc(100%);
  height: 14vh;
  border-radius: 10px;
  padding: 12px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #182034;
}

.pantalla__text {
  color: white;
}

#resultado {
  font-size: 34px;
}

@media (min-width: 768px) {
  #resultado {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  #resultado {
    font-size: 32px;
  }
}

.teclas__contenedor {
  min-width: 100%;
  width: 100%;
  height: calc(72vh);
  background-color: #182034;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.grupo__teclas {
  min-width: 100%;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.boton {
  min-width: 23.5%;
  width: calc(23.5%);
  max-width: 120px;
  height: calc(100%);
  padding: 7px 0;
  margin: 0 auto;
  background-color: #eae3dc;
  border-radius: 10px;
  color: #444b5a;
  font-size: 32px;
  font-weight: 700;
  outline: none;
  border: none;
  border-bottom: 4px solid;
  text-align: center;
}

@media (min-width: 768px) {
  .boton {
    font-size: 34px;
    padding: 7px 0;
    min-width: 65px;
    max-width: 135px;
  }
}

input {
  outline: none;
  border: none;
}

.boton:hover {
  background-color: white;
  transform: scale(1.05);
}

input:hover {
  background-color: '';
  transform: scale(1.05);
}

input#del {
  min-width: 23.5%;
  width: calc(23.5%);
  max-width: 120px;
  height: calc(100%);
  padding: 7px 0;
  margin: 0 auto;
  background-color: #637097;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 4px solid #404e72;
  text-align: center;
}

@media (min-width: 768px) {
  input#del {
    font-size: 34px;
    padding: 7px 0;
    min-width: 65px;
    max-width: 135px;
  }
}

input#reset {
  min-width: 49%;
  width: 49%;
  max-width: 49%;
  padding: 7px 0;
  margin: 0 5px;
  background-color: #637097;
  border-bottom: 4px solid #404e72;
  border-radius: 10px;
  color: white;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  input#reset {
    padding: 21px 0;
    font-size: larger;
  }
}

input#igual {
  min-width: 49%;
  width: 49%;
  max-width: 49%;
  padding: 7px 0;
  margin: 0 5px;
  background-color: #d03f2f;
  border-radius: 10px;
  color: white;
  font-size: 34px;
  font-weight: 700;
  border-bottom: 4px solid #93261a;
}

@media (min-width: 768px) {
  input#igual {
    padding: 10px 0;
  }
}
